.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-3);
  border-top: 2px solid var(--grey-color);
  border-bottom: 2px solid var(--grey-color);
  padding: 15px 0;
  background-color: #f5f5f5af;
  backdrop-filter: blur(20px);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  overflow: hidden;
  max-width: 80px;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  color: var(--other-dark-color);
  transition: color var(--transition);
}

.nav__link::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  left: 0;
  height: 2px;
  background-color: var(--light-red-color);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--transition),
    visibility var(--transition);
}

.nav__link:hover {
  color: var(--light-red-color);
}

.nav__link:hover::after {
  opacity: 1;
  visibility: visible;
}

.main {
  margin-top: 89px;
}
