.gallery {
  padding: 120px 0;
  background-color: var(--other-white-color);
}

@media (max-width: 576px) {
  .gallery {
    padding: 60px 0;
  }
}

.gallery__title {
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 80px;
}

@media (max-width: 768px) {
  .gallery__title {
    margin-bottom: 60px;
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .gallery__title {
    font-size: 40px;
  }
}

.gallery__list-slider {
  margin-bottom: 30px;
}

.gallery__list {
  display: grid;
  gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 992px) {
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery__list {
    display: flex;
    gap: 0;
    grid-template-columns: none;
  }
}

.gallery__item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 8px;
  padding-bottom: 85%;
  height: auto;
}

@media (max-width: 380px) {
  .gallery__item {
    padding-bottom: 100%;
  }
}

.gallery__item:nth-child(n + 9) {
  display: none;
}

@media (max-width: 992px) {
  .gallery__item:nth-child(n + 7) {
    display: none;
  }
}

@media (max-width: 768px) {
  .gallery__item {
    display: block !important;
  }
}

.gallery__item img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: transform var(--transition);
}

.gallery__item:hover img {
  transform: scale(1.1);
}

.gallery__button {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .gallery__button {
    display: none;
  }
}

.gallery__scrollbar {
  display: none;
  height: 6px;
  background-color: var(--light-grey-color);
}

@media (max-width: 768px) {
  .gallery__scrollbar {
    display: block;
  }
}

.swiper-scrollbar-drag {
  background-color: var(--grey-color);
}
