.hero {
  padding: 160px 0;
}

.hero__title {
  margin-bottom: 20px;
  font-size: 90px;
}

.hero__title span {
  font-family: Lidia, serif;
  font-size: 124px;
  color: var(--red-color);
}

.hero__type {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 20px;
  color: var(--grey-color);
}

.hero__description {
  margin-bottom: 50px;
  max-width: 700px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.3;
  color: var(--other-dark-color);
}

.hero__buttons {
  display: flex;
  gap: 40px;
}

.hero__decor-text {
  top: -160px;
  right: 50px;
}
